ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 32, 147);
    background-color:rgba(132, 190, 249, 1)
}
li{
    float: left;
}
li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 50px;
}
/* .p{
    size: 30px;
    
} */
.nd{
    margin-left: 50px;
}
.nd1{
    margin-left: 600px;
}
.amenu:hover{
    color: rgb(166, 247, 251);
}
.menu{
    height: 50px;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    z-index: 100000;
    position: fixed;
}


h1{
    margin-top: 200px;
    margin-left: 555px;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

#question{
    height: 30px;
    width: 250px;
    margin-left: 100px;
    text-align: center;
    margin-top: 10px;
}
#answer{
    margin-top: 30px;
    margin-left: 100px;
    height: 30px;
    width: 250px;
    text-align: center;
}
#correctAnswer{
    margin-top: 50px;
    margin-left: 640px;
    height: 30px;
    width: 250px;
    text-align: center;
}
button{
    margin-top: 50px;
    margin-left: 640px;
    height: 30px;
    width: 257px;
    text-align: center;
}

.f{
    height: 350px;
    width: 1500px;
    background-color:rgba(186, 186, 186, 0.7);
    margin-top: 80px;
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    flex: 1;
}
.f1{
    height: 35px;
    width: 257px;
    margin-left: 640px;
    margin-top: 10px;
}
.f2{
    font-size: 20px;
}
.f3{
    margin-left: 370px;
    margin-top: 70px;
}
.d{
    margin-left: -100px;
    margin-top: 20px;
}
.h{
    margin-left: 250px;
    margin-top: 55px;
}